@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/imges/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200PX 100VW);
    height: 80vh;
    position: relative;


}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    top: 0;
    background-color: black;

}

nav {
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

nav img {
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    font-style: normal;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    padding: 0 23px;
    font-size: 48px;
}

.hero> :first-child {
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(4) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.seperation {
    height: 5px;
    background-color: grey;
}

.btn {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 15px;
    background-color: rgba(19, 19, 19, 0.7);
    color: white;
    border-radius: 5px;
    border: 2px solid rgba(246, 238, 238, 0.2);
    cursor: pointer;

}

.red-btn {
    background-color: red;
    /* rgb(205, 5, 5) */
    color: white;
    /* font-size: 20px;
    padding: 13px 20px; */
    padding: 14px 19px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;

}

.red-btn:hover {
    background-color: rgb(214, 16, 16);

}

.btn-red-sm {
    background-color: red;
    color: white;

}


.main input {
    padding: 14px 85px 18px 25px;
    background-color: rgba(19, 19, 19, 0.7);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid rgba(246, 238, 238, 0.2);

}

.first {
    font-family: "Martel Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    font-size: 20px;

}



.sec-img {
    position: relative;
}

.sec-img img {
    width: 455px;
    position: relative;
    z-index: 10;
}

.sec-img video {
    position: absolute;
    top: 58px;
    left: 56px;
    height: 211px;
}

section.first>div :nth-child(1) {
    font-size: 30px;
    font-weight: 700;
    padding: 7px;

}


.second {
    font-family: "Martel Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    font-size: 20px;

}



section.second>div :nth-child(1) {
    font-size: 30px;
    font-weight: 700;
    padding: 7px;
}

.third {
    font-family: "Martel Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    font-size: 20px;

}


section.third>div :nth-child(1) {
    font-size: 30px;
    font-weight: 700;
    padding: 7px;
}

.forth {
    font-family: "Martel Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    font-size: 20px;
}



section.forth>div :nth-child(1) {
    font-size: 30px;
    font-weight: 700;
    padding: 7px;
}

.faq h2 {
    font-family: "Martel Sans", sans-serif;
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox {
    font-family: "Martel Sans", sans-serif;
    transform: all 1s ease-out;
    display: flex;
    background-color: rgb(46, 45, 45);
    justify-content: space-between;
    padding: 14px;
    max-width: 70vw;
    margin: 24px auto;
    cursor: pointer;
    font-size: 20px;
}

.faqbox:hover {

    background-color: rgb(62, 61, 61);
}

.hero-buttons input {
    /* background-color: transparent; */
    padding: 14px 140px 18px 25px;
    background-color: rgba(19, 19, 19, 0.7);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid rgba(246, 238, 238, 0.2);
    margin: 30px;

}

.txt {
    font-family: "Martel Sans", sans-serif;

    text-align: center;
    font-size: 16px;
    color: white;
    padding: 23px;
}

footer {
    font-family: "Martel Sans", sans-serif;
    /* justify-content: center;
    align-items: center; */
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer div {
    padding: 20px 0;
}

.footer a {
    text-decoration: none;
    color: white;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}



.footer-item {
    display: flex;
    flex-direction: column;
    gap: 13px;

}

@media screen and (max-width: 1300px) {
    .hero {
        font-size: 32px;
    }

    .first {
        flex-wrap: wrap;
    }

    .second {
        flex-wrap: wrap;
    }

    .third {
        flex-wrap: wrap;
    }

    .forth {
        flex-wrap: wrap;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero> :nth-child(4) {
        font-size: 18px;
    }

    .hero-buttons{
        flex-wrap: wrap;
        /* flex-direction: column; */
    }

    nav{
        max-width: 95vw;
    }

    .faq h2 {
    font-size: 32px;
}

}